body {
    padding: 25px;
    background-image: url('background_image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    color: #5C6AC4;
}
